@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background: #e86278;
    text-align: center;
}

h1 {
    margin: 120px 0;
    color: #f5d228;
    font-size: 5em;
}

.content {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content li {
    cursor: pointer;
    width: 150px;
    height: 150px;
    background: #f5d228;
    font-size: 4em;
    border-radius: 50%;
}

/* リサイズボタン */
.resizer {
  position: absolute;
  right: 25px;
  top: 80px;
  display: flex;
  gap: 10px;
  list-style: none;
}

.resizer a {
  display: block;
  width: 2.5em;
  text-align: center;
  padding: 7px 0;
  color: #82454e;
  background: #f1cf45;
  text-decoration: none;
}
.resizer a:hover {
  color: #f1cf45;
  background: #63373e;
}

/* #tooltip {
    position: absolute;
    border-radius: 10px;
    background: #fff;
} */

#tooltip-s {
    font-size: 1em;
    position: absolute;
    border-radius: 10px;
    background: #fff;
}

#tooltip-m {
    font-size: 2em;
    position: absolute;
    border-radius: 10px;
    background: #fff;
}

#tooltip-l {
    font-size: 3em;
    position: absolute;
    border-radius: 10px;
    background: #fff;
}