@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background: #e86278;
    text-align: center;
}

h1 {
    margin: 120px 0;
    color: #f5d228;
    font-size: 5em;
}

ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
    width: 150px;
    height: 150px;
    background: #f5d228;
    font-size: 4em;
    border-radius: 50%;
}

#tooltip {
    position: absolute;
    border-radius: 10px;
    background: #fff;
}

